<launch>
  <master auto="start" />
  <!-- only for simulation
  <param name="/use_sim_time" value="true" />
  -->

  <!-- also need to start p2os driver -->
  <!-- and sicklms_wrapper with params _port:=/dev/ttyS2 _baud:=38400 -->
  <!-- but may be wish to do this outside of launch since motors & the delay of laser -->

  <!-- publish the static transform from the center of the robot to the laser rangefinder (required for slam_gmapping) -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0.1397 0 0 0 base_link laser 100" />

  <!-- move base -->
  <include file="$(find explore_pioneer)/move.xml" />

  <!-- gmapping -->
  <include file="$(find explore_pioneer)/gmapping.xml" />

  <!-- explore controller -->
  <include file="$(find explore_pioneer)/explore_slam.xml" />
</launch>
