<!--
  Do explore & slam in current.world
-->

<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

<!-- This runs with no gui -->
<!--
  <node pkg="stage" type="stageros" name="stage" respawn="false" output="screen" args="-g $(find bosch_worlds)/current.world" />
-->
  <node pkg="stage" type="stageros" name="stage" respawn="false" output="screen" args="$(find bosch_worlds)/current.world" />

  <include file="$(find explore_stage)/gmapping.xml" />
  <include file="$(find explore_stage)/move.xml" />
  <include file="$(find explore_stage)/current_explore_slam.xml" />
</launch>
