<!--
  Do explore & slam in maze-noisy.world
-->

<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <node pkg="stage" type="stageros" name="stage" args="$(find bosch_worlds)/maze-noisy.world" respawn="false" output="screen"/>

  <include file="$(find explore_stage)/gmapping.xml" />

  <!-- World specific -->
  <include file="$(find explore_stage)/move.xml" />
  <include file="$(find explore_stage)/explore_slam.xml" />
</launch>
